
    <div class="onboard">
        <header class="header">
            <h1 class="heading-1">Get AI <strong class="color-changing-text">Marketing Strategies</strong> to take your business further.</h1>
            <p class="paragraph">Growth Makers conducts thorough research on your business and industry, then creates customized marketing strategies with clear action plans.</p>
            <div>
                <button class="btn-grad" (click)="navigateToLogin()">Try for free</button>
            </div>
            
            <h4 class="heading-4">For business owners and founders.</h4>
        </header>
        <section class="marketing">
            <h2 class="heading-2 marketing__Area-heading">Your Second Brain for Marketing</h2>
            <div class="marketing__Area">
                <div class="marketing__post-1">
                    <h3 class="heading-3 marketing__heading">Marketing & Content Strategies Based on Proven Frameworks</h3>
                    <p class="marketing__content">Growth Makers develops customized marketing strategies with actionable plans for your business. Our data-driven approach ensures increased traffic and engagement through proven frameworks and methodologies.</p>
                </div>
                <img src="assets/images/pic-7.jpg" alt="image of network" class="marketing__image-1">
                <img src="assets/images/network.jpg" alt="image of network" class="marketing__image-2">
                <div class="marketing__post-2">
                    <h3 class="heading-3 marketing__heading">Marketing & Content Strategies Based on Proven Frameworks</h3>
                    <p class="marketing__content">Growth Makers develops customized marketing strategies with actionable plans for your business. Our data-driven approach ensures increased traffic and engagement through proven frameworks and methodologies.</p>
                </div>

            </div>
        </section>
        <section class="growth">
            <h2 class="heading-2 marketing__Area-heading">Your Second Brain for Marketing</h2>
            <div class="growth__area">
                <div class="growth__content">
                    <div class="num"> <strong>1</strong></div>
                    <div class="growth__content-heading heading-4">Submit URL</div>
                    <div class="growth__content-para paragraph">Just enter your business URL and no additional steps required.</div>
                </div>
                <div class="growth__content">
                    <div class="num">2</div>
                    <div class="growth__content-heading heading-4">Research Phase</div>
                    <div class="growth__content-para paragraph">Growth Makers performs deep market research just like humans.</div>
                </div>
                <div class="growth__content">
                    <div class="num">3</div>
                    <div class="growth__content-heading heading-4">Research Phase</div>
                    <div class="growth__content-para paragraph ">Growth Makers performs deep market research just like humans.</div>
                </div>
                <!-- <div class="growth__content">
                    <div class="num">1</div>
                    <div class="growth__content-heading">Generate Marketing Strategies</div>
                    <div class="growth__content-para">After research phase you can generate marketing strategies based on the needs(acquisition, activation, retention, referral and revenue)</div>
                </div> -->
            </div>
        </section>
        <section class="stories">
            <h2 class="heading-2 marketing__Area-heading">Here's what people say about </h2>
            <h2 class="color-changing-text" style="text-align: center;">Growth Makers!</h2>
            <div class="stories__area">
                <div class="stories__content">
                    <div class="growth__content-para paragraph">It sounds like a game-changer for marketing strategies with its AI-driven insights.</div>
                    <div class="growth__content-heading heading-5">Kathiravan</div>
                </div>
                <div class="stories__content">
                    <div class="growth__content-para paragraph">This looks like a really cool product, I hope the best for you! I would love to see what difference it makes for customers who may not have that much marketing experience.</div>
                    <div class="growth__content-heading heading-5">Nandha</div>
                </div>
            </div>
        </section>
        <section class="pricing">
            <h2 class="heading-2 marketing__Area-heading">Pricing</h2>
            <h4 class="heading-4 align-center clr-white">For business owners and founders.</h4>
            <div class="pricing__container">
                <div class="pricing__card">
                    <div class="card__main">
                        <span class="fnt_lrg clr-white">Monthly</span>
                        <span class="fnt__sml clr-white"> <span class="heading-1">$25</span> /month</span>
                        <hr class="custom__line">
                        <ul>
                            <li>1 Business</li>
                            <li>20 Marketing Strategies</li>
                            <li>Weekly Digest</li>
                            <li>Competitor Insights</li>
                        </ul>
                    </div>
                    <div class="card__end">
                        <button class="card__button btn__outline" (click)="navigateToLogin()">Try for free</button>
                    </div>
                </div>
                <div class="pricing__card">
                    <div class="card__main">
                        <span class="fnt_lrg clr-white">Monthly</span>
                        <span class="fnt__sml clr-white"> <span class="heading-1">$129</span> /one-time purchase</span>
                        <hr class="custom__line">
                        <ul>
                            <li>1 Business</li>
                            <li>20 Marketing Strategies per month</li>
                            <li>Weekly Digest</li>
                            <li>Competitor Insights</li>
                        </ul>
                    </div>
                    <div class="card__end">
                        <button class="card__button btn__full" (click)="navigateToLogin()">Try for free</button>
                    </div>
                </div>
            </div>
        </section>
        <div class="faq">
            <h2 class="heading-2 marketing__Area-heading">Frequently asked questions</h2>
        </div>
        <footer class="footer">
            <div class="footer__top">
                <div class="footer__top-left">
                    <span class="heading-3 clr-white" style="display: block;">Froozen</span>
                    <span class="marketing__content">Get Right Marketing Strategies for your Business.</span>
                </div>
                <div class="footer__top-right">
                    <div class="collection-1">
                        <a href="#" class="link__styling">Affiliates</a>
                        <a href="#" class="link__styling">Infographics</a>
                        <a href="#" class="link__styling">Status</a>
                    </div>
                    <div class="collection-2">
                        <a href="#" class="link__styling">Changelog</a>
                    </div>
                </div>
            </div>
            <hr class="custom__line">
            <div class="footer__bottom">
                <div class="footer__bottom-left">
                    <span class="marketing__content">Copyright © Growth Makers 2025</span>
                </div>
                <div class="footer__top-right">
 
                </div>
            </div>
        </footer>
    </div>